node_modules/
dist/
build/
out/
logs/
*.log
*.tmp
*.zip
*.tar.gz
*.rar
*.exe
*.dll
*.so
*.pyc
*.md
*.json
__pycache__/
.idea/
.vscode/
.DS_Store
test/src/
APC-VLM/
vadar/
.pytest_cache/
base_model
output/
outputs/
pySpatial_mindcube.json